<div class="dots">
  <input type="hidden" class="dot" name="attr_{{attr}}" value="1" />
  {{#repeat count start=1}}
    <button type="action" class="dot{{> gt @index}}" name="act_{{attr}}_{{@index}}"></button>
  {{/repeat}}
</div>
