<div class="columns">
  {{#each primaryAttributeCategories as |primaryAttributeCategory| }}
    <div class="primary-attribute-category">
      {{#each primaryAttributeCategory.attributes as |primaryAttribute| }}
        <div class="primary-attribute">
          <div class="subheader">
            <input type="hidden" class="flag" name="attr_{{primaryAttribute}}_flag" value="0" />
            <button type="action" class="toggle" name="act_{{primaryAttribute}}" data-i18n="{{primaryAttribute}}">{{capitalize primaryAttribute}}</button>
          </div>
          {{> dots attr=primaryAttribute count=5}}
        </div>
        {{#unless @last}}
          <div class="horizontal-spacer"></div>
        {{/unless}}
      {{/each}}
    </div>
  {{/each}}
</div>
<script type="text/worker">
  {{> worker}}
</script>
